#ifndef CONFIG_LOCAL_H
#define CONFIG_LOCAL_H

// WiFi
//constexpr char WIFI_SSID[] = "YOUR_WIFI_SSID";
//constexpr char WIFI_PASSWORD[] = "YOUR_WIFI_PASSWORD";
// WiFi توسط WiFiManager تنظیم می‌شه — نیازی به هاردکد نیست
// Blynk
#define BLYNK_TEMPLATE_ID "YOUR_TEMPLATE_ID"
#define BLYNK_TEMPLATE_NAME "GlassGarden v1"
#define BLYNK_AUTH_TOKEN "YOUR_AUTH_TOKEN"

#endif
